.nav {
  z-index: 250;
  &__list{
    display: flex;
     @include md {
      display: block;
    }
  }

  &__item{
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__link{

    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
    transition: all 0.3s;
    &:hover{
      color: var(--color-tundora);
      transition: all 0.3s;
    }
      @include md {
        width: 100%;
      display: inline-block;
      padding: 20px 20px;
      border-bottom: 0px solid grey;
    }

  }
  @include sm {

    .nav {
      display: none;

  }
  }
  &--visible {
    left: 0;
    transition: all 0.3s;
  }

}

