.product{
  display: block;
  &__prop{
   color: rgb(160, 160, 160);
  }
         .product__text{
            margin-bottom: 10px;
         }

        .product__content-box{
          margin-top: 5px;
          display: flex;
            @include xs380 {
              flex-wrap: wrap;
      }
        }

        .product__wrapper-box{
          padding: 5px 0px;
          border: 0px solid #ececec;

        }



  &__image{

    position: relative;
    overflow: hidden;

    margin-bottom: 5px;
    img{
      max-height: 100%;
      width: 100%;
      object-fit: cover;
      @include xs380 {
        max-height: 80%;
        width: 80%;
      }
      // @include xs320 {
      //   max-height: 50%;
      //   width: 50%;
      // }
    }
  }
  &__sale {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 10;
    border: 2px solid var(--color-gray);
    padding: 2px 5px;
    font-weight: 500;
    font-size: 8px;
    text-transform: uppercase;
    color: var(--color-gray);
  }
  &__title{
    // margin: 0;
    // margin-bottom: 5px;
    color: rgb(57, 57, 57);
    font-size: 12px;
    margin-bottom: 2px;
    a {
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &__wrap {
    display: flex;

  }
  &__price{
    margin-bottom: 0px;
    color: rgb(57, 57, 57);
    // color: rgb(154, 156, 156);
    font-size: 12px;
    font-weight: 700;
  }
  &__oldprice{
    margin-left: 5px;
    color: rgb(97, 98, 98);
    font-size: 12px;
    font-weight: 700;
  }
     &:hover {
    .product__image {
      img {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }

    .product-custom__price {
      transform: translateY(-100%);
      transition: transform 0.3s;
    }

    .product-custom__cart {
      transform: translateY(-100%);
      transition: transform 0.3s;
    }
  }
}
.product-custom {
  overflow: hidden;
  height: 16px;

  &__price {
    transition: transform 0.3s;
  }
  &__card {
    transition: transform 0.3s;
  }

  .to-cart {
    display: block;
    font-weight: 600;
    font-size: 7px;
    text-transform: uppercase;
    color: rgb(154, 156, 156);
    transition: all 0.3s;
    &:hover {
     color: tomato;
    //  color: rgb(97, 98, 98);
     transition: all 0.3s;
    }

  }

  &__cart {
    text-transform: uppercase;
    transition: transform 0.3s;
  }
  //   &:hover {
  //   .product__image {
  //     img {
  //       transform: scale(1.1);
  //       transition: transform 0.3s;
  //     }
  //   }

  //   .product-custom__price {
  //     transform: translateY(-100%);
  //     transition: transform 0.3s;
  //   }

  //   .product-custom__cart {
  //     transform: translateY(-100%);
  //     transition: transform 0.3s;
  //   }
  // }
}
.deep-grey {
  color: rgb(57, 57, 57);
}
.light-grey {
  color: rgb(154, 156, 156);
}
