<section class="about-cont">
  <!-- <div class="container"> -->
  <div class="about-grid ">
    <div class="about-grid__wrapper ">
    <h1 class="blog-content__title">
      Our story
    </h1>
    </div>
    <div class="about-grid__wrapper">
    <div class="about-grid__text">
      <article>
        <p>
          One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff.
Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
Dictumst per ante cras suscipit nascetur ullamcorper in nullam fermentum condimentum torquent iaculis reden posuere potenti viverra condimentum dictumst id tellus suspendisse convallis.
        </p>
      </article>
    </div>
    </div>

  </div>

  <div class="founders-grid ">
     <div class="about-grid__wrapper ">
    <h1 class="blog-content__title">The Founders</h1>
    </div>
  <img src="../img/f2-75.png" alt="../img/f4-75.png">
  <img src="../img/f4-75.png" alt="../img/f01.png">
  <img src="../img/f3-75.png" alt="../img/f01.png">

  <img src="../img/f10.png" alt="../img/f10.png">

  </div>


  <div class="founders-grid">
      <div class="about-grid__wrapper ">
    <h1 class="blog-content__title">Awards Winnings</h1>
    </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2018</h6>



  </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2017</h6>

    <h6 class="award-title">Clever Structure Award 2018</h6>



  </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2021</h6>

    <h6 class="award-title">Clever Structure Award 2022</h6>



   </div>
   <div>
    <h6 class="award-title">Innovative Design Award 2025</h6>

    <h6 class="award-title">Clever Structure Award 2026</h6>



   </div>

  </div>

  </div>
</section>
