
<section class="banners">
  <h2 class="visually-hidden">Banners</h2>
  <div class="container banners__container">


      <div class="card-related__slider">
        <p class="product-prop product__prop best">Best sellers</p>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <article class="product">
                    <div class="product__image">
                      <a href="../card.html">
                      <img src="img/prod11.png" alt="img/prod11.png">
                      </a>
                    </div>

                    <h3 class="light-grey product__title">

                        Eye Mesh Boat Shoes

                    </h3>
                <div class="product__wrap">
                <p class="light-grey product__price">$120.0</p>
                <p class="light-grey product__oldprice">$220.0</p>
                </div>
                <div class="product__content-box">
                  <button
                    class="btn-reset card-info__btn card-info__btn--towishlist"
                  >
                    Add to wishlist
                  </button>
                  <button class="btn-reset card-info__btn card-info__btn--tocart">
                    Add to cart
                  </button>
                </div>

              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/prod12.png" alt="prod 1">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Eye Mesh Boat Shoes

                </h3>
                <div class="product__wrap">
            <p class="light-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/m6.png" alt="prod02">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Eye Mesh Boat Shoes

                </h3>
                <div class="product__wrap">
            <p class="light-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <span class="product__sale">Sale</span>
                  <a href="../card.html">
                  <img src="img/prod14.png" alt="prod 1">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Eye Mesh Boat Shoes

                </h3>
                <div class="product__wrap">
            <p class="light-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="product">
                <div class="product__image">
                  <a href="../card.html">
                  <img src="img/prod15.png" alt="prod 1">
                  </a>
                </div>

                <h3 class="light-grey product__title">

                    Eye Mesh Boat Shoes

                </h3>
               <div class="product__wrap">
            <p class="light-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
              </article>
            </div>
          </div>
          <div class="swiper-pagination related-pag"></div>
      </div>
      </div>

</section>
