<section class="cabinet">
  <script>
    function changeLink(e) {
      document.getElementById('myAnchor').innerHTML = e;

    }
  </script>
   <div class=" container-narrow">
      <h1 class="cabinet__title" id="myAnchor"></h1>
  </div>
  <div class=" container">
     <section class="card-tabs">
      <!-- <div class="container"> -->
        <div class="tabs-wrapper">
          <div class="tabs card__tab-box">
            <a class="tab card-tabs" href="#tab-1" onclick="changeLink('FAQ')">FAQ</a>
            <a class="tab card-tabs" href="#tab-2" onclick="changeLink('Account ')">Account </a>
            <!-- <a class="tab card-tabs" href="#tab-3" onclick="changeLink('Downloads')">Downloads</a> -->
            <a class="tab card-tabs" href="#tab-4" onclick="changeLink('Addresses')">Addresses</a>

            <a class="tab card-tabs" href="#tab-5" onclick="changeLink('Wishlist')">Wishlist</a>
            <a class="tab card-tabs tab--active" href="#tab-6" onclick="changeLink('Cart')">Cart</a>
            <a class="tab card-tabs" href="#tab-7" onclick="changeLink('Order')">Order</a>
          </div>

          <div class="tabs-container">
            <div id="tab-1" class="card__tab-content tab-content">
              <div class=" container-narrow">
              <h1 class="cabinet__title">Frequently Asked Questions.</h1>
              </div>
              <div class="faq__inner">
                <div class="faq__left">
                  <h2 class="faq__title">01. The order</h2>
                   <b>When do I receive my order?</b>
                   <p class="faq__text500">
                    When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                   </p>
                   <p class="faq__text800">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p>
                   <p class="faq__text500">
                    If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                   </p>
                   <p class="faq__text800">When will I receive the invoice for my order?</p>
                   <p class="faq__text500">
                    When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                   </p>
                  <h2 class="faq__title">02. Shipment</h2>
                   <p class="faq__text800">When do I receive my order?</p>
                   <p class="faq__text500">
                    When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                   </p>
                   <p class="faq__text800">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p>
                   <p class="faq__text500">
                    If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                   </p>
                   <p class="faq__text800">When will I receive the invoice for my order?</p>
                   <p class="faq__text500">
                    When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                   </p>

                </div>
                <div class="faq__right">
                    <h2 class="faq__title">03. The order</h2>
                   <p class="faq__text800">When do I receive my order?</p>
                   <p class="faq__text500">
                    When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                   </p>
                   <p class="faq__text800">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p>
                   <p class="faq__text500">
                    If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                   </p>
                   <p class="faq__text800">When will I receive the invoice for my order?</p>
                   <p class="faq__text500">
                    When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                   </p>
                  <h2 class="faq__title">04. Returns, exchanges and complaints</h2>
                   <p class="faq__text800">When do I receive my order?</p>
                   <p class="faq__text500">
                    When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.
                   </p>
                   <p class="faq__text800">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p>
                   <p class="faq__text500">
                    If the order has a longer delivery time than you had previously seen, it is of course possible to cancel (a part of) the order. For this you can contact our customer service. They will cancel the order for you. The purchase amount will be back on your bank account within two working days. When an order has already been shipped, it can no longer be cancelled.
                   </p>
                   <p class="faq__text800">When will I receive the invoice for my order?</p>
                   <p class="faq__text500">
                    When you have paid for the order, you will not automatically receive an invoice for your order. If you wish to receive an invoice, this can be done in two ways.The first way is through your account at our store. When you log in to your account you can see your orders and download the invoice.
                   </p>
                </div>
              </div>
            </div>
            <div id="tab-2" class="card__tab-content tab-content">
               <div class=" container-narrow">
              <h1 class="cabinet__title">My Account.</h1>
              </div>
                <div class="container contact-grid">

                  <form class="contacts__form">
                    <h3 class="account-detail__title">Login</h3>
                      <label class="account__label">
                          <span class="faq__text800">
                          Name
                          </span>

                    <input
                      class="account-detail__input"
                      type="text"
                      id="fname"
                      name="firstname"
                      placeholder="Your name"
                    />

                    </label>
                      <label class="account__label">
                          <span class="faq__text800">
                          Password
                          </span>
                    <input
                      class="account-detail__input"
                      type="password"
                      id="femail"
                      name="firstemail"

                    />
                    </label>

                    <label class="custom-checkbox account__label-remember ">
                          <input class="custom-checkbox__input visually-hidden" type="checkbox" />
                          <span class="custom-checkbox__text faq__text500">
                          Remember me
                          </span>
                    </label>



                    <input class="contacts__submit-hollow" type="submit" value="Login" />
                    <a class="account-detail__error">Lost you password?</a>
                  </form>

                  <form class="contacts__form">
                    <h3 class="account-detail__title">Register</h3>
                      <label class="account__label">
                          <span class="faq__text800">
                          Email
                          </span>
                    <input
                      class="account-detail__input"
                      type="text"
                      id="fname"
                      name="firstname"
                      placeholder="Your email"
                    />
                    </label>
                      <label class="account__label">
                          <span class="faq__text800">
                          Password
                          </span>
                    <input
                      class="account-detail__input"
                      type="password"
                      id="femail"
                      name="firstemail"

                    />
                    </label>
                     <label class="account__label-remember">
                          <!-- <input type="checkbox" />
                          <span class="faq__text500">
                          Remember
                          </span> -->
                    </label>
                    <input class="contacts__submit" type="submit" value="Register" />

                  </form>
                </div>

               <div class=" container-narrow">
              <h1 class="cabinet__title">Account details</h1>
              </div>

              <div class="account-detail">
    <h3 class="account-detail__title">Edit Account</h3>
        <form class="account-detail__form">
            <label class="account-detail__label">
              <span class="faq__text800">
              Name
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input-name" placeholder="First name" type="text" required />
              <input class="account-detail__input-name" placeholder="Last name" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Display name
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" placeholder="olegrewko" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Email address
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" placeholder="olegrewko@gmail.com" type="text" required />
              </div>
            </label>

        </form>
        <hr class="account-detail__hr">
    <h3 class="account-detail__title">Password change</h3>
        <form class="account-detail__form">

            <label class="account-detail__label">
              <span class="faq__text800">
              Current password
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" type="password" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              New password
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Confirm password
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <div></div>
              <div class="account-detail__input-wrap">
              <input class="contacts__submit" type="submit" value="Send changes" />
              </div>
            </label>
        </form>
              </div>
            </div>
            <!-- <div id="tab-3" class="card__tab-content tab-content">
              content300
            </div> -->
            <div
              id="tab-4"
              class="card__tab-content tab-content"
            >
              <div class=" container-narrow">
              <h1 class="cabinet__title">Our stores</h1>
              </div>

              <div class="container ">

    <section class="socialmap">
      <div id="map" class="text-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2669.822174089799!2d37.61030017050038!3d55.757739672412825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a454f72f4ff%3A0x923352d5be7df67b!2z0KLQstC10YDRgdC60LDRjyDRg9C7LiwgNSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyNTAwOQ!5e0!3m2!1sru!2sua!4v1596189839076!5m2!1sru!2sua"
          width="100%"
          height="300"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        >
        </iframe>
      </div>
    </section>


    <div class="footer__top">
      <div class="footer__column">
        <div>
          <h5>Melbourn office</h5>
          <div class="about-grid__address">
            <img class="about-grid__image" src="../img/map-point.png" alt="" />
            <span>Little Bridht 45, Melbourne</span>
          </div>

          <div class="about-grid__tel">
            <img class="about-grid__image" src="../img/smart.png" alt="" />
            <span>8-999-852-58-21</span>
          </div>

          <div class="about-grid__email">
            <img class="about-grid__image" src="../img/email.png" alt="" />
            <span>olegrewko@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <div>
          <h5>Sidney office</h5>
          <div class="about-grid__address">
            <img class="about-grid__image" src="../img/map-point.png" alt="" />
            <span>Little Bridht 45, Melbourne</span>
          </div>

          <div class="about-grid__tel">
            <img class="about-grid__image" src="../img/smart.png" alt="" />
            <span>8-999-852-58-21</span>
          </div>

          <div class="about-grid__email">
            <img class="about-grid__image" src="../img/email.png" alt="" />
            <span>olegrewko@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="footer__column">
        <div>
          <h5>Opening hours</h5>
          <div class="about-grid__hours">
            <span>Monday-Friday</span>
            <span>10.00-20.00</span>
          </div>
          <div class="about-grid__hours">
            <span>Saturday</span>
            <span>10.00-18.00</span>
          </div>
          <div class="about-grid__hours">
            <span>Sunday</span>
            <span>Closed</span>
          </div>
        </div>
      </div>
    </div>
  </div>
            </div>
            <div id="tab-5" class="card__tab-content tab-content">
              <form>

                <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="card__list-address card__list-address--title">
                      Product
                    </div>
                    <div class="card__list-work card__list-work--title">
                      Description
                    </div>
                    <div class="card__list-a card__list-a--title">
                      Price
                    </div>
                    <div class="card__list-n card__list-n--title">
                      Status
                    </div>
                    <div class="card__list-a card__list-b--title">
                      <!-- Cart -->
                    </div>
                    <div class="card__list-n card__list-b--title">
                      <!--  -->
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod15.png" alt="../img/prod01.jpg" />
                    </div>
                    <div class="card__list-work">

                        <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                     </div>
                    <div class="card__list-a">
                        <span class="product__price">$220.0</span>
                    </div>


                    <div class="card__list-n">1</div>
                    <div class="card__list-a card__list-btn">
                    <!-- <div class="card__list-btn"> -->
                      <button type="submit">Add to cart</button>
                    <!-- </div> -->
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod14.png" alt="../img/prod14.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod12.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                     <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                      <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod11.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      3
                    </div>
                    <div class="card__list-a card__list-btn">
                      <button type="submit">Add to cart</button>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                </ul>
              </form>

            </div>
            <div id="tab-6" class="card__tab-content tab-content tab-content--active">
               <div class=" container-narrow">
              <h1 class="cabinet__title">Cart</h1>
              </div>
                <form>

                <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="card__list-address card__list-address--title">
                      Product
                    </div>
                    <div class="card__list-work card__list-work--title">
                      Descr
                    </div>
                    <div class="card__list-a card__list-a--title">
                      Price
                    </div>
                    <div class="card__list-n card__list-n--title">
                      Q

                    </div>
                    <div class="card__list-a card__list-a--title">
                     SUBTOTAL
                    </div>
                    <div class="card__list-n card__list-b--title">

                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod15.png" alt="../img/prod01.jpg" />
                    </div>
                    <div class="card__list-work">

                        <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                     </div>
                    <div class="card__list-a">
                        <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-a">
                    <div class="card-info__stepper stepper">
          <button
            class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled"
            aria-label="minus"
          >
          <img src="../img/minus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg> -->
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="4" />
          <button
            class="btn-reset stepper__btn stepper__btn--plus"
            aria-label="plus"
          >
          <img src="../img/plus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg> -->
          </button>
                    </div>
                    </div>
                    <div class="card__list-a card__list-btn">

                      <span class="product__price">$220.0</span>

                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                     <img src="../img/prod14.png" alt="../img/prod14.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-a">
                      <div class="card-info__stepper stepper">
          <button
            class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled"
            aria-label="minus"
          >
          <img src="../img/minus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg> -->
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="4" />
          <button
            class="btn-reset stepper__btn stepper__btn--plus"
            aria-label="plus"
          >
          <img src="../img/plus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg> -->
          </button>
                    </div>
                    </div>
                    <div class="card__list-a card__list-btn">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod12.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                     <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                      <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-a">
                      <div class="card-info__stepper stepper">
          <button
            class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled"
            aria-label="minus"
          >
          <img src="../img/minus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg> -->
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="4" />
          <button
            class="btn-reset stepper__btn stepper__btn--plus"
            aria-label="plus"
          >
          <img src="../img/plus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg> -->
          </button>
                    </div>
                    </div>
                    <div class="card__list-a card__list-btn">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                  <li class="card__list-item">
                    <div class="card__list-address">
                      <img src="../img/prod11.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                    <div class="card__list-a">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-a">
                      <div class="card-info__stepper stepper">
          <button
            class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled"
            aria-label="minus"
          >
          <img src="../img/minus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg> -->
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="4" />
          <button
            class="btn-reset stepper__btn stepper__btn--plus"
            aria-label="plus"
          >
          <img src="../img/plus.png" alt="">
            <!-- <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg> -->
          </button>
                    </div>
                    </div>
                    <div class="card__list-a card__list-btn">
                      <span class="product__price">$220.0</span>
                    </div>
                    <div class="card__list-n">
                      <img src="../img/close.png" alt="../img/close16.png" />
                    </div>
                  </li>
                </ul>
              </form>
               <div class=" container cabinet__grid">
      <!-- <form class="contacts__form"> -->

        <input
          class="cabinet__input"
          type="text"
          id="fname"
          name="firstname"
          placeholder="Coupon code"
        />


        <input class="cabinet__submit" type="submit" value="Apply coupon" />

      <!-- </form> -->
    <!-- <button class="btn-reset card-info__btn38 card-info__btn--towishlist">Coupon code</button>
    <button class="btn-reset card-info__btn38 card-info__btn--tocart">Apply coupon</button> -->
    <button class="btn-reset card-info__btn38 card-info__btn--towishlist">Continue shopping</button>
    <button class="btn-reset card-info__btn38 card-info__btn--tocart">Update  cart</button>

              </div>
               <div class=" container-narrow">
              <h1 class="cabinet__title">Cart total</h1>
               </div>
               <div class="grey container">
               <ul class="card__list">
                  <li class="card__list-item card__list-item--title">
                    <div class="">
                      Subtotal
                    </div>
                    <div class="">
                      840$
                    </div>

                  </li>
                  <li class="card__list-item card__list-item--title">
                    <div class="">
                      Total
                    </div>
                    <div class="">
                      840$
                    </div>
                  </li>

                </ul>
                 <button class="btn-reset card-info__btn38 card-info__btn--tocart">Proceed to checkout</button>
              </div>
            </div>
            <div id="tab-7" class="card__tab-content tab-content ">
              <div class="faq__inner">
                <div class="faq__left">
                  <div class=" container-narrow">
                  <h1 class="cabinet__title">Billing details</h1>
                  </div>
                   <div class="account-detail">

        <form class="account-detail__form">
            <label class="account-detail__label">
              <span class="faq__text800">
              Name
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input-name" placeholder="First name" type="text" required />
              <input class="account-detail__input-name" placeholder="Last name" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Company name
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Country
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Street address
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Postcode
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Town/City
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Phone
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input" type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Email address
              </span>
              <div class="account-detail__input-wrap">
              <input class="account-detail__input"  type="text" required />
              </div>
            </label>
            <label class="account-detail__label">
              <span class="faq__text800">
              Order notes
              </span>
              <div class="account-detail__input-wrap">
              <textarea class="account-detail__input"  ></textarea>
              </div>
            </label>

        </form>

              </div>
                </div>
                <div class="faq__right">
                  <div class=" container-narrow">
                  <h1 class="cabinet__title">Order details</h1>
                  </div>
                  <ul class="card__list-order">
                  <li  class=" card__list-order-item ">
                    <div class="card__list-order-address">
                      Product
                    </div>
                    <div class="card__list-order-work ">
                      Description
                    </div>
                    <div class="card__list-order-n ">
                      Q
                    </div>
                    <div class="card__list-order-a ">
                      Price
                    </div>

                  </li>
                  <li class="card__list-order-item">
                    <div class="card__list-order-address">
                     <img src="../img/prod15.png" alt="../img/prod01.jpg" />
                    </div>
                    <div class="card__list-order-work">

                        <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                     </div>
                     <div class="card__list-order-n">1</div>
                    <div class="card__list-order-a">
                        <span class="product__price">$220.0</span>
                    </div>



                  </li>
                  <li class="card__list-order-item">
                    <div class="card__list-order-address">
                     <img src="../img/prod14.png" alt="../img/prod14.jpg" />
                    </div>
                    <div class="card__list-order-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                     <div class="card__list-order-n">
                      3
                    </div>
                    <div class="card__list-order-a">
                      <span class="product__price">$220.0</span>
                    </div>

                  </li>
                  <li class="card__list-order-item">
                    <div class="card__list-order-address">
                      <img src="../img/prod12.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-order-work">
                     <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                     <div class="card__list-order-n">
                      3
                    </div>
                      <div class="card__list-order-a">
                      <span class="product__price">$220.0</span>
                    </div>


                  </li>
                  <li class="card__list-order-item">
                    <div class="card__list-order-address">
                      <img src="../img/prod11.png" alt="../img/prod02.jpg" />
                    </div>
                    <div class="card__list-order-work">
                      <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                    </div>
                     <div class="card__list-order-n">
                      3
                    </div>
                    <div class="card__list-order-a">
                      <span class="product__price">$220.0</span>
                    </div>


                  </li>
                 </ul>

                 <div class="grey container">
               <ul class="card__list">
                  <li class="card__list-order-item card__list-item--title">
                    <div class="">
                      Subtotal
                    </div>
                    <div class="">
                      840$
                    </div>

                  </li>
                  <li class="card__list-order-item card__list-item--title">
                    <div class="">
                      Total
                    </div>
                    <div class="">
                      840$
                    </div>
                  </li>

                </ul>
                 <button class="btn-reset card-info__btn38 card-info__btn--tocart">Place order</button>
                 </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>
  </div>



</section>
