<div class="catalog-filters">

  <button class="hide-filters btn-reset">
    Filters
  </button>
  <div class="catalog-filter catalog-filter--open">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Categories</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">All categories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Accessories</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Dresses</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Coats</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Clothes</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">T-short</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Summer</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Shirts</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Jacket</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Short</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Color</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">
      <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input  visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--blue">Blue</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--red">Red</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--orange">Orange</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--green">Green</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--white">White</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--black">Black</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--brown">Brown</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--purple">Purple</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--grey">Grey</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text custom-checkbox__text--maroon">Maroon</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Brand</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

    <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Gucci</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Dior</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Fendi</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Valentino</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Clothes</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Balmain</span>
          </label>
        </li>
            <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Versace</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Burberry</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Nike</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Prada</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filter">

    <div class="catalog-filter__top">

      <div class="catalog-filter__caption">

      <h3 class="catalog-filter__title">Size</h3>
        <span class="catalog-filter__quantity quantity">0</span>
            <!-- <button class="btn-reset size-select__clear02">
            <img src="../img/close.png" alt="../img/close.png" />

            Clear
          </button> -->


      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

          <ul class="catalog-filter__items size-select__list">
            <li class="catalog-filter__item size-select__item">
                    <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>35</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
              <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>36</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
               <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>37</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
               <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>38</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
               <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>39</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>40</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>41</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>42</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>43</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>44</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>45</span>
                    </div>
                    </label>
            </li>
            <li class="size-select__item">
                <label class="size-select__label">
                    <input class="size-select__input" type="checkbox" />
                    <div class="size-select__checkbox">
                      <span>46</span>
                    </div>
                    </label>
            </li>
          </ul>
          <!-- <button class="btn-reset size-select__clear">
            <img src="../img/close.png" alt="../img/close.png" />

            clear
          </button> -->
        <!-- </div> -->
    </div>
  </div>
   <div class="catalog-filter">
    <div class="catalog-filter__top">
      <div class="catalog-filter__caption">
      <h3 class="catalog-filter__title">Discount</h3>
      <span class="catalog-filter__quantity quantity">0</span>
      </div>
      <span class="catalog-filter__toggle"></span>
    </div>
    <div class="catalog-filter__bottom">

    <ul class="catalog-filter__items">
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">70% and above</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">60%-70% off</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">40%-60% off</span>
          </label>
        </li>
        <li class="catalog-filter__item">
           <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">40%-20% off</span>
          </label>
        </li>
        <li class="catalog-filter__item">
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">10% off</span>
          </label>
        </li>

      </ul>
    </div>
  </div>

</div>
<!-- catalog-filter--open -->
