<div class="catalog-grid">
  <div class="container ">
    <div class="catalog-grid__props catalog-props">
      <div class="catalog-props-top">


        <div class="catalog-props-top__filter-buttons">
          <span class="catalog-props-top__text">View</span>
          <button
            class="catalog-props-top__filter-btn btn-reset catalog-props-top__filter-btn--active button-grid"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid"
              width="15"
              height="15"
              viewBox="0 0 15 15"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #8d8d8d;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path
                d="M-0.000,3.750 L3.750,3.750 L3.750,-0.000 L-0.000,-0.000 L-0.000,3.750 ZM5.625,15.000 L9.375,15.000 L9.375,11.250 L5.625,11.250 L5.625,15.000 ZM-0.000,15.000 L3.750,15.000 L3.750,11.250 L-0.000,11.250 L-0.000,15.000 ZM-0.000,9.375 L3.750,9.375 L3.750,5.625 L-0.000,5.625 L-0.000,9.375 ZM5.625,9.375 L9.375,9.375 L9.375,5.625 L5.625,5.625 L5.625,9.375 ZM11.250,-0.000 L11.250,3.750 L15.000,3.750 L15.000,-0.000 L11.250,-0.000 ZM5.625,3.750 L9.375,3.750 L9.375,-0.000 L5.625,-0.000 L5.625,3.750 ZM11.250,9.375 L15.000,9.375 L15.000,5.625 L11.250,5.625 L11.250,9.375 ZM11.250,15.000 L15.000,15.000 L15.000,11.250 L11.250,11.250 L11.250,15.000 Z"
                class="cls-1"
              />
            </svg>
          </button>
          <button class="catalog-props-top__filter-btn btn-reset button-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              preserveAspectRatio="xMidYMid"
              width="20"
              height="15"
              viewBox="0 0 20 15"
            >
              <defs>
                <style>
                  .cls-1 {
                    fill: #8d8d8d;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path
                d="M5.835,14.998 L5.835,10.827 L19.994,10.827 L19.994,14.998 L5.835,14.998 ZM5.835,5.413 L19.994,5.413 L19.994,9.585 L5.835,9.585 L5.835,5.413 ZM5.835,0.000 L19.994,0.000 L19.994,4.172 L5.835,4.172 L5.835,0.000 ZM0.007,10.827 L4.429,10.827 L4.429,14.998 L0.007,14.998 L0.007,10.827 ZM0.007,5.413 L4.429,5.413 L4.429,9.585 L0.007,9.585 L0.007,5.413 ZM0.007,0.000 L4.429,0.000 L4.429,4.172 L0.007,4.172 L0.007,0.000 Z"
                class="cls-1"
              />
            </svg>
          </button>
        </div>
          <div class="catalog-props__columns catalog-columns">
         <span class="catalog-columns__text">Columns number</span>
         <ul class="catalog-columns__list">

          <li class="catalog-columns__item" ><button class="btn-reset main-link catalog-columns__btn" data-columns="4">
            3</button></li>
            <li class="catalog-columns__item" ><button class="btn-reset main-link catalog-columns__btn catalog-columns__btn--current" data-columns="5">5</button></li>

        </ul>
       </div>
        <div class="custom-select">
          <div class="custom-select__top">Sort by latest</div>
          <div class="custom-select__dropdown">
            <ul class="custom-select__list">
              <li class="custom-select__item">Sort by latest</li>
              <li class="custom-select__item">Sort by price</li>
              <li class="custom-select__item">Sort by smth</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="catalog-props__choice catalog-choice">
        <button class="btn-reset catalog-choice__clear">Clear all</button>
      </div>
    </div>
    <ul class="catalog-grid__content">
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod01.jpg" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">

              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod02.jpg" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
       <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod03.jpg" alt="../img/prod03.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod04.jpg" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
          <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod05.jpg" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod06.jpg" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod07.jpg" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
       <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod08.jpg" alt="../img/prod03.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod09.jpg" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
          <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod10.jpg" alt="../img/prod10.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod11.png" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
        <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod12.png" alt="../img/prod02.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
     <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod09.jpg" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
   <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod14.png" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
   <li class="catalog-grid__item">
        <article class="product">
          <div class="product__image">
            <a href="../card.html">
              <img src="../img/prod15.png" alt="../img/prod01.jpg" />
            </a>
          </div>
          <div class="product__wrapper-box">
            <div class="product__box">
              <h3 class="product__title">Eye Mesh Boat Shoes</h3>
              <span class="product__price">$220.0</span>
            </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <!-- <ul class="pagination">
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link--current">1</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">
        Next
        <img src="../img/angle-right.png" alt="">
      </a></li>
  </ul> -->
  </div>
  <div class="pagination-wrapper">
    <ul class="pagination">
      <li class="pagination__item">
        <a href="#" class="pagination__link pagination__link--current">1</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="#" class="pagination__link">
          Next
          <img src="../img/angle-right.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
