<footer class="footer-black">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__top">
        <div class="footer-black__column">
          <h3 class="footer-black__title">Customer Service</h3>
          <ul class="footer__list">
            <li class="footer__item footer-black__phone">Phone: 89998525821</li>
            <li class="footer__item"><a href="" class="footer-black__link">About us</a></li>
            <li class="footer__item"><a href="" class="footer-black__link">Live chat</a></li>
            <li class="footer__item"><a href="" class="footer-black__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer-black__column">
          <h3 class="footer-black__title">Company</h3>
          <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer-black__link">What we do</a></li>
            <li class="footer__item"><a href="" class="footer-black__link">Available Services</a></li>
            <li class="footer__item"><a href="" class="footer-black__link">Latest Posts</a></li>
            <li class="footer__item"><a href="" class="footer-black__link">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-black__column">

          <h3 class="footer-black__title">Our Newsletter</h3>
          <form action="" class="footer__form subscribe-form-black">
            <h4 class="subscribe-form-black__title">Join our list and get 15% off your first purchase!</h4>
            <label for="" class="subscribe-form-black__field">
              <input class="subscribe-form-black__placeholder" type="email" required placeholder="Email Address">
            </label>
            <button class="subscribe-form-black__btn btn-reset" type="submit" >Subscribe</button>
          </form>
          <span class="footer-black__text">Don't worry we don't spam </span>
        </div>

      </div>

    <div class="footer__bottom">
      <div class="container">
      <div class="footer__bottom-wrap">
       <ul class="footer__navigation">
        <li class="footer__navigation-item"><a href="../index.html" class="footer-black__link">Home</a></li>
        <li class="footer__navigation-item"><a href="../catalog.html" class="footer-black__link">Shop</a></li>
        <li class="footer__navigation-item"><a href="../about.html" class="footer-black__link">About Us</a></li>
        <li class="footer__navigation-item"><a href="../blog.html" class="footer-black__link">Blog</a></li>
        <li class="footer__navigation-item"><a href="../card.html" class="footer-black__link">Card</a></li>
        <li class="footer__navigation-item"><a href="../contacts.html" class="footer-black__link">Contacts</a></li>
       </ul>
       <div class="social">
        <div class="container ">
        <div class="social-inner">
          <div class="" title="В контакте">
            <div class="roll">
              <img class="regular" src="../img/icons/vk45gray.png" /><a
                href="http://vk.com/share.php?url=[URL]&title=[TITLE]&description=[DESC]&image=[IMAGE]&noparse=true"
                ><img class="rollover" src="../img/icons/vk45maroon.png"
              /></a>
            </div>
          </div>

          <div class="" title="В контакте">
            <div class="roll">
              <img class="regular" src="../img/icons/vk50gray.png" /><a
                href="http://vk.com/share.php?url=[URL]&title=[TITLE]&description=[DESC]&image=[IMAGE]&noparse=true"
                ><img class="rollover" src="../img/icons/vkmaroon50.png"
              /></a>
            </div>
          </div>

          <div class="" title="Фэйсбук">
            <div class="roll">
              <img class="regular" src="../img/icons/fb45gray.png" /><a
                href="https://www.facebook.com/sharer/sharer.php?u=[URL]"
                ><img class="rollover" src="../img/icons/fb45white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Одноклассники">
            <div class="roll">
              <img class="regular" src="../img/icons/o46gray.png" /><a
                href="http://ok.ru"
                ><img class="rollover" src="../img/icons/o46white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Инстаграмм">
            <div class="roll">
              <img class="regular" src="../img/icons/i45gray.png" /><a
                href="https://www.instagram.com/"
                ><img class="rollover" src="../img/icons/i45white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Твиттер">
            <div class="roll">
              <img class="regular" src="../img/icons/twittergray.png" /><a
                href="https://twitter.com/share?url=[URL]&text=[TITLE]"
                ><img class="rollover" src="../img/icons/twitter-white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Реддит">
            <div class="roll">
              <img class="regular" src="../img/icons/re50gray.png" /><a
                href="https://www.reddit.com"
                ><img class="rollover" src="../img/icons/re50white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Рутуб">
            <div class="roll">
              <img class="regular" src="../img/icons/rutube45grey.png" /><a
                href="https://rutube.ru/search/?query=olegrewko"
                ><img class="rollover" src="../img/icons/rutube45.png"
              /></a>
            </div>
          </div>
          <div class="" title="Гитхаб">
            <div class="roll">
              <img class="regular" src="../img/icons/ghbl45gray.png" /><a
                href="https://github.com/olegrewko/olegrewko.github.io"
                ><img class="rollover" src="../img/icons/gh45white.png"
              /></a>
            </div>
          </div>

          <div class="" title="Ютуб">
            <div class="roll">
              <img class="regular" src="../img/icons/youtube45gray01.png" /><a
                href="https://www.youtube.com/channel/UCU-sIbAKpKDuuheQClfKspA"
                ><img class="rollover" src="../img/icons/youtubemaroon.png"
              /></a>
            </div>
          </div>

          <div class="" title="tagged">
            <div class="roll">
              <img class="regular" src="../img/icons/taggedgray.png" /><a
                href="https://secure.tagged.com/"
                ><img class="rollover" src="../img/icons/tagged-white.png"
              /></a>
            </div>
          </div>

          <div class="" title="flikr">
            <div class="roll">
              <img class="regular" src="../img/icons/flikrgray.png" /><a
                href="https://www.flickr.com"
                ><img class="rollover" src="../img/icons/flikrblack.png"
              /></a>
            </div>
          </div>

          <div class="" title="pinterest">
            <div class="roll">
              <img class="regular" src="../img/icons/pinterest.png" /><a
                href="https://ru.pinterest.com/"
                ><img class="rollover" src="../img/icons/pinterest002.png"
              /></a>
            </div>
          </div>

          <div class="" title="meetme">
            <div class="roll">
              <img class="regular" src="../img/icons/meetmegray.png" /><a
                href="http://seoslim.ru/gg/socialnaya-set-meetme.html"
                ><img class="rollover" src="../img/icons/meetme-white.png"
              /></a>
            </div>
          </div>

          <div class="" title="meetup">
            <div class="roll">
              <img class="regular" src="../img/icons/meetupgray.png" /><a
                href="http://seoslim.ru/gg/socialnaya-set-meetup-com.html"
                ><img class="rollover" src="../img/icons/meetup-white.png"
              /></a>
            </div>
          </div>

          <div class="" title="myspace">
            <div class="roll">
              <img class="regular" src="../img/icons/myspacegray.png" /><a
                href="https://www.myspace.com"
                ><img class="rollover" src="../img/icons/myspace-white.png"
              /></a>
            </div>
          </div>

          <div class="" title="periscope">
            <div class="roll">
              <img class="regular" src="../img/icons/periscope001.png" /><a
                href="https://www.periscope.tv/"
                ><img class="rollover" src="../img/icons/periscopemaroon.png"
              /></a>
            </div>
          </div>

          <div class="" title="tumblr">
            <div class="roll">
              <img class="regular" src="../img/icons/tumblrgray.png" /><a
                href="https://www.tumblr.com"
                ><img class="rollover" src="../img/icons/tumblr-white.png"
              /></a>
            </div>
          </div>
        </div>
         </div>
       </div>
      </div>
      </div>
      <div class="container">
      <div class="tiny-footer">
        <p class="tiny-grey">
          © All Rights Reserved 2020 | Zonex
        </p>
        <ul class="tiny-card">
          <li class="tiny-card__item">
            <a href="#" class="tiny-card__link">
              <img src="../img/icons/paypal.png" alt="">
            </a>
          </li>
          <li class="tiny-card__item">
            <a href="#" class="tiny-card__link">
              <img src="../img/icons/master.png" alt="">
            </a>
          </li>
          <li class="tiny-card__item">
            <a href="#" class="tiny-card__link">
              <img src="../img/icons/visa.png" alt="">
            </a>
          </li>

        </ul>
      </div>
      </div>
    </div>
  </div>

</footer>
