<div class="hero-about">
  <div class="container container-narrow hero-about__box">
    <div class="hero-blog__overlay">
      <h1 class="hero-blog__title">About Us</h1>
      <div class="breadcrumbs-card">
        <div class="container">
           <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item"><a href="../index.html" class="breadcrumbs__link">Home</a></li>
    <li class="breadcrumbs__item"><a href="../catalog.html" class="breadcrumbs__link">Shop</a></li>
    <li class="breadcrumbs__item"><a href="../about.html" class="breadcrumbs__link breadcrumbs__link--current">About</a></li>
    <li class="breadcrumbs__item"><a href="../blog.html" class="breadcrumbs__link">Blog</a></li>
    <li class="breadcrumbs__item"><a href="../card.html" class="breadcrumbs__link">
      Card
    </a></li>
     <li class="breadcrumbs__item"><a href="../contacts.html" class="breadcrumbs__link">Contacts</a></li>
   </ul>
        </div>
      </div>
    </div>
  </div>
</div>
