<section class="hero">
  <div class="container hero-catalog__container ">
    <!-- <h1 class="visually-hidden">Zonex-best shop</h1> -->
    <div class="hero-catalog__slider">
      <button class="hero-prev-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#prev-arrow"></use>
        </svg>
      </button>
      <button class="hero-next-btn btn-reset">
        <svg class="">
          <use xlink:href="img/sprite.svg#next-arrow"></use>
        </svg>
      </button>
      <div class="swiper-wrapper">
        <div class=" swiper-slide">
          <div class="hero catalog-slide">
        <h2 class="catalog-slide__title">Fall-Winter Clearance Sales</h2>
          <p class="catalog-slide__d">Fall-Winter Clearance Sales / Zonex-best shop</p>

            <img class="hero catalog-slide__image"  src="../img/two600.png" alt="two600.png">
          </div>
        </div>
         <!-- <div class=" swiper-slide">
          <div class="hero catalog-slide">
          <h2 class="catalog-slide__title">Fall-Winter Clearance Sales</h2>
          <p class="catalog-slide__d">Fall-Winter Clearance Sales / Zonex-best shop</p>
            hero
            <img class="catalog-slide__image"  src="../img/sport.png" alt="sport.png">
          </div>
        </div> -->
         <div class="swiper-slide">
          <div class="hero catalog-slide">
         <h2 class="catalog-slide__title">Fall-Winter Clearance Sales</h2>
          <p class="catalog-slide__d">Fall-Winter Clearance Sales / Zonex-best shop</p>

            <img class="catalog-slide__image"  src="../img/man600.png" alt="man600.png">
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination hero-pag"></div> -->
      <!-- <div class="swiper-pagination related-pag"></div> -->
    </div>



  </div>
</section>
