<section class="main-products">

  <h2 class="visually-hidden">Main-products</h2>
  <div class="container main-products__container tabs">
    <ul class="main-products__nav tabs__list">
      <li class="main-products__item"><button  class="main-products__btn btn-reset  main-products__btn--current tabs__btn tabs__btn--active" data-tabs-path="main" data-filter="best-sellers">Best products</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset  tabs__btn" data-tabs-path="archive" data-filter="new-products">New products</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset  tabs__btn" data-tabs-path="settings" data-filter="sale-products">Sale products</button></li>
    </ul>
    <div class="tabs__content tabs__content--active" data-tabs-target="main">
     <ul class="main-products__list products-grid">
      <li class="products-grid__item tabs__item">
        <article class="product">
          <div class="product__image">
            <a href="../catalog.html">
            <img src="../img/prod01.jpg" alt="../img/prod01.jpg">
            </a>
          </div>
          <h3 class="deep-grey product__title">
            <!-- <a href="../catalog.html"> -->
            Eye Mesh Boat Shoes
            <!-- </a> -->
          </h3>
          <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod03.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
            <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <span class="product__sale">Sale</span>
            <img src="../img/prod04.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
            <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod05.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
            <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod06.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
            <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod07.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod08.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod09.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod10.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod11.png" alt="../img/prod11.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod12.png" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/m6.png" alt="../img/m6.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
               <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod14.png" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                   <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod15.png" alt="../img/prod15.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
                   <div class="product__wrap">
            <p class="deep-grey product__price">$120.0</p>
            <p class="light-grey product__oldprice">$220.0</p>
          </div>
            <div class="product__content-box">
              <button
                class="btn-reset card-info__btn card-info__btn--towishlist"
              >
                Add to wishlist
              </button>
              <button class="btn-reset card-info__btn card-info__btn--tocart">
                Add to cart
              </button>
            </div>
        </article>
      </li>
     </ul>
    </div>
    <div class="tabs__content" data-tabs-target="archive">
     <ul class="main-products__list products-grid">
      <li class="products-grid__item tabs__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>

        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <span class="product__sale">Sale</span>
            <img src="../img/prod02.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod02.jpg" alt="../img/prod11.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod12.png" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/m6.png" alt="../img/m6.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod14.png" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod15.png" alt="../img/prod15.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
     </ul>
    </div>
    <div class="tabs__content" data-tabs-target="settings">
     <ul class="main-products__list products-grid">
      <li class="products-grid__item tabs__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>

        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <span class="product__sale">Sale</span>
            <img src="../img/prod01.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod01.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod03.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
       <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod01.jpg" alt="../img/prod05.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod11.png" alt="../img/prod11.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod12.png" alt="../img/prod02.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/m6.png" alt="../img/m6.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod14.png" alt="../img/prod04.jpg">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$120.0</span>
        </article>
      </li>
      <li class="products-grid__item">
        <article class="product">
          <div class="product__image">
            <img src="../img/prod15.png" alt="../img/prod15.png">
          </div>
          <h3 class="product__title">Eye Mesh Boat Shoes</h3>
          <span class="product__price">$220.0</span>
        </article>
      </li>
     </ul>
    </div>

  </div>
</section>
