<section class="shop-banners">
  <h2 class="visually-hidden">Banners</h2>
  <div class="container shop-banners__container">
    <a href="" class="shop-banners__banner shop-banner  shop-banner--man">
      <div>
      <h1 class="shop-banner__title">Best woomen<br> street style</h1>
       <div class="promo">
          <!-- <h4 class="promo__maroon">Sale end in</h4> -->
           <div id="promo__clock" class="promo__clock">
                <div class="promo__clock-item-white">
                  <span class="days"></span>
                  <div class="smalltext-white">Days</div>
                </div>
                <div class="promo__clock-item-white">
                  <span class="hours"></span>
                  <div class="smalltext-white">Hours</div>
                </div>
                <div class="promo__clock-item-white">
                  <span class="minutes"></span>
                  <div class="smalltext-white">Min</div>
                </div>
                <div class="promo__clock-item-white">
                  <span class="seconds"></span>
                  <div class="smalltext-white">Sec</div>
                </div>
              </div>
        </div>
      </div>
    </a>
    <a href="" class="shop-banners__banner shop-banner  shop-banner--woman">
      <!-- <h3 class="shop-banner__title">Find your fit</h3>
      <span class="shop-banner__text main-link  main-link--white">Read more</span> -->
    </a>
  </div>

</section>
