html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  overflow-anchor: none;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  // min-width: 220px;
  min-height: 100%;
  font-size: 14px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
   // если используете на сайте position: sticky - уберите эту настройку
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.main {
  flex-grow: 1;
  padding-top: 20px;
}
.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {

  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  // max-width: 1170px;
  width: 100%;
}
.container-narrow {
  text-align: center;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
  // max-width: 1170px;
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.main-link{
      position: relative;
      font-size: 15px;
      color: var(--color-dark);
    &::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition: width 0.15s;

    }
    &--white {
      color: var(--color-white);
    }
    &:hover{
       &::before{
      width: 100%;
      transition: width 0.15s;
     }

    }
}


.to-top {
  position: fixed;
  right: 2%;
  bottom: 5%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 14px 18px;
  width: 48px;
  height: 48px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  transition: transform 0.3s;

  &:hover {
    transform: rotate(360deg);
    transition: transform 0.3s;
  }
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  overflow: hidden;
  width: 52px;
  height: 52px;
  border: none;
  text-indent: 100%;
  background: url('../img/up.png') no-repeat 0px 0px;

}
.text-center {
  text-align: center;
}
